
*.RData
*.Rds


.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/

*.html
*.pdf
*.docx
*.knit.md
*.utf8.md

.Rproj.user/
*.Rproj

cache/
*.Rcache
*_cache/

.*~
*~
.DS_Store


enlarged_state_trends.png
.DS_Store
