
.Rproj.user/6DB07D29/pcs/files-pane.pper
.Rproj.user/6DB07D29/pcs/source-pane.pper
.Rproj.user/6DB07D29/pcs/windowlayoutstate.pper
.Rproj.user/6DB07D29/pcs/workbench-pane.pper
.Rproj.user/shared/notebooks/C4B45ED8-DATS6101_Midterm_Proj_q1/1/6DB07D291afc23b6/cuiqckkvf4i7r_t/execution.lock
